@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  background: #60a5fa; /* Tailwind blue-400 */
  min-height: 100vh;
}